@import "lesslib.less";
.reset;

/*****
	VARS
*****/
@main: #cc0033;

/*****
	LAYOUT
*****/
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}


/*****
	WORDPRESS STYLES
	Used for the main content area, the_content()
*****/
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin: 0 auto;
	clear: both;
}


/*****
	GENERAL STYLING
*****/
a {
	&:link {
		color: @main;
	}
	&:visited {
		color: darken(@main, 10);
	}
	&:hover, &:active, &:focus {
		color: darken(@main, 20);
	}
}
em, i, .italic {
	font-style: italic;
}
strong, b, .bold {
	font-weight: bold;
}