@import "lesslib.less";
.reset;

/*****
	VARS
*****/
@main: #cc0033;

/*****
	LAYOUT
*****/
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}


/*****
	WORDPRESS STYLES
	Used for the main content area, the_content()
*****/
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin: 0 auto;
	clear: both;
}


/*****
	GENERAL STYLING
*****/
a {
	&:link {
		color: @main;
	}
	&:visited {
		color: darken(@main, 10);
	}
	&:hover, &:active, &:focus {
		color: darken(@main, 20);
	}
}
em, i, .italic {
	font-style: italic;
}
strong, b, .bold {
	font-weight: bold;
}


/*****
	OPTIONAL TYPE
*****/
body {
	font-family: Arial, sans-serif;
	color: #444;
	font-size: 100%;
	line-height: 1.5;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}
.hentry {
	p, ul, ol, img, blockquote {
		margin-bottom: 1em;
	}
	blockquote {
		margin-left: 2em;
		background: #eee;
		padding: 0.3em 0.5em;
		border: 1px solid #ccc;
		p {
			margin: 0;
		}
	}
}